@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    @apply h-full bg-slate-50 text-slate-900 antialiased;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    padding-bottom: env(safe-area-inset-bottom);
  }
  input, textarea, select {
    font-size: 16px; /* evita zoom en iOS */
  }
}

@layer utilities {
  .safe-top { padding-top: env(safe-area-inset-top); }
  .safe-bottom { padding-bottom: env(safe-area-inset-bottom); }
}
